.pokemons{
    padding: 25px;
    margin: 10px;
    margin-left: 30px;
    border-style: ridge;
    width: 12%;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    background-color: khaki;
    overflow: auto;
    box-shadow: 4px 3px khaki;
}

.pokemons:hover{
    /*transform:scaleX(1.5);*/
    /*transform:scaleY(1.5);*/
    /*box-shadow: 5px 5px 2px floralwhite;*/
    animation: ease-in-out;
}

img{
    height: 120px;
    width: 110px;
}

/*modal*/

.modal {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 30%;
    top: 30%;
    width: 40%; /* Full width */
    height: 40%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #361dfe; /* Fallback color */
    background-color: #b2dbbf; /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: blanchedalmond;
    margin: auto;
    padding: 20px;
    border: 1px  #888;
    width: 80%;
    height: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}