.pokemonlist{
    border-color: InfoBackground;
    /*border:InfoBackground;*/
    /*min-height: 100%;*/
    /*border-style: groove;*/
    background-color:InfoBackground;
    /*overflow: hidden;*/
    border-style: outset;
}

h3{
    text-align: center;
    color:orangered;
    text-decoration: double;
    text-shadow: orange;
    /*box-sizing: border-box;*/
    width: fit-content;

}

.loading{
    position: fixed;
    top: 0%;
    left: 0%;
    background-image: url("./images/ping-loader.gif");
    background-size: contain;
    backface-visibility: visible;
    width: 100%;
    height: 100%;
    z-index: 1001;
    /*background-repeat: no-repeat;*/
}